/* #0D37FF #0C6CE8 #01B1FF #0CE0E8 #0DFFC4 */
html {
    user-select: none;
    font-family: 'Source Code Pro', monospace;
    background: rgb(13,55,255);
    background: -moz-linear-gradient(90deg, rgba(13,55,255,1) 0%, rgba(12,108,232,1) 20%, rgba(1,177,255,1) 40%, rgba(12,224,232,1) 60%, rgba(13,255,196,1) 80%);
    background: -webkit-linear-gradient(90deg, rgba(13,55,255,1) 0%, rgba(12,108,232,1) 20%, rgba(1,177,255,1) 40%, rgba(12,224,232,1) 60%, rgba(13,255,196,1) 80%);
    background: linear-gradient(90deg, rgba(13,55,255,1) 0%, rgba(12,108,232,1) 20%, rgba(1,177,255,1) 40%, rgba(12,224,232,1) 60%, rgba(13,255,196,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d37ff",endColorstr="#0dffc4",GradientType=1);

}
body {
    margin: 10px;
}
h1 h2 {
    color: #01B1FF;
}
p {
    color: #0CE0E8;
    font-size: 16px;
}
section {
    width: 400px;
}
header {
    height: fit-content;
    width: fit-content;
}
footer {
    height: fit-content;
    width: fit-content;
}
a {
    text-decoration: none;
}
#me {
    border-radius: 10px;
}